{% embed 'partials/base.html.twig' %}

  {% block header %}
    <div class="header landing">
      <a href="{{base_url_relative}}" class="nav-home logo-sng logo-sxs-white" title="{{"NAVIGATION.HOME"|t}}"><span class="logo"></span></a>
      {% include 'partials/langswitcher.html.twig' %}
      <a href="{{base_url_relative}}/about" class="nav-about c-white f-uni-grotesk-bold">{{"NAVIGATION.ABOUT"|t}}</a>
    </div>
  {% endblock %}

  {% block body %}
    <body class="landing" itemscope itemtype="http://schema.org/Article">
  {% endblock %}

  {% block content %}
    <main class="landing {{ page.header.image ? 'tag-articleimage' : '' }}" role="main">
      <div class="landing-image">
        <div class="landing-image-image" style="background-image: url({% if page.header.image %}{{ page.media[page.header.image].url }}{% endif %})"></div>
        <div class="landing-image-fade"></div>
      </div> {# /div.landing-image #}

      <div class="landing-content">
          
        <h1 class="centered c-white"><span class="f-uni-grotesk-bold">sen</span> <img src="{{ theme_url }}/images/headline-logo.svg" alt="x" class="headline-logo"> <span class="f-moyenage">skutočnosť</span></h1>
        <h2 class="centered c-white f-uni-grotesk-bold f-uppercase">{{ page.header.h2 }}</h2>
        
        <div class="centered uk-container-center uk-width-9-10 uk-width-large-6-10">
          <h3 class="c-white f-uni-grotesk-regular">{{ page.header.h3 }}</h3>
          
          {% include 'partials/sharing.html.twig' with {
            excludePrint: true,
            sharingStylingClasses: 'button-ghost'
          }%}

          {% include 'partials/first-chapter-cta.html.twig' %}

          <hr class="white">
          <h4 class="centered c-white f-uni-grotesk-regular">{{ page.header.h4}}</h4>
          <h4 class="centered c-white f-uni-grotesk-regular">{{ page.header.panorama_text}}</h4>
          <a href="{{page.header.panorama_url}}" class="uk-button button-ghost button-large margin-bottom-m margin-top-s" target="_blank">{{page.header.panorama_buttontext}}</a>

        </div>
        
        <div class="chapter-preview uk-grid hover-grid centered c-white">
          {% for p in page.collection %}
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
              {% include 'partials/chapter-thumb.html.twig' with {
                'chapterPage': p,
                'showAnnounceDate': true,
                'buttonText': "LANDING.CHAPTER_THUMB.BUTTON_TEXT"|t
              }
              %}
            </div>
          {% endfor %}
        </div>
        
          {% if page.header.pEducational %}
          <div class="centered uk-container-center uk-width-9-10 uk-width-small-8-10">
            <hr class="white">
            <h5 class="centered c-white f-uni-grotesk-regular">{{ page.header.pEducational}}</h5>
          </div>
          {% endif %}

      </div>
    </main>
  {% endblock %}

  {% block footer %}
    {% include 'partials/emailcapture.html.twig' with {
    'emailCTA': page.header.emailCTA, 
    'emailPlaceholder': page.header.emailPlaceholder, 
    'emailButton': page.header.emailButton, 
    'emailNotice': page.header.emailNotice} 
    %}
    {% include 'partials/footer.html.twig' with {
    'sharingButtons': false,
    'exhibitionLink': true,
    'orgIcons':       true,
    'copyright':      true,
    'stylingClasses': 'c-grey'}
    %}
  {% endblock %}

{% endembed %}
