{% embed 'partials/base.html.twig' %}

  {% block header %}
    <div class="header landing">
      {% include 'partials/langswitcher.html.twig' %}
      <a href="{{base_url_relative}}/about" class="nav-about c-white">{{"NAVIGATION.ABOUT"|t}}</a>
    </div>
  {% endblock %}

  {% block body %}
    <body class="landing" itemscope itemtype="http://schema.org/Article">
  {% endblock %}

  {% block content %}
    <main class="landing {{ page.header.image ? 'tag-articleimage' : '' }}" role="main">
      <div class="landing-image">
        <div class="landing-image-image centered-bg" style="background-image: url({% if page.header.image %}{{ page.media[page.header.image].brightness(-20).url }}{% endif %})"></div>
        <div class="landing-image-fade"></div>
      </div>

      <div class="landing-content">
        <h1 class="centered c-white title">{{ page.header.title }}</h1>
        <h1 class="centered c-white header">{{ page.header.h1 }}</h1>
        <h2 class="centered c-white f-uppercase">{{ page.header.h2 }}</h2>

        <div class="centered uk-container-center uk-width-9-10 uk-width-large-6-10">
          {% include 'partials/sharing.html.twig' with {
            excludePrint: true,
            sharingStylingClasses: 'button-ghost'
          }%}
        </div>

        <div class="landing-content uk-grid">
          <h4 class="landing-intro centered c-white uk-width-medium-1-2">
              {{ page.header.h4 }}<br />
          </h4>
          <h3 class="landing-when-where-who centered c-white uk-width-medium-1-2">
              {{ page.header.when }}<br />
              {{ page.header.where }}<br />
              {{ page.header.who }}
          </h3>
        </div>

        <div class="chapter-preview uk-grid hover-grid centered c-white">
          {% for p in page.collection %}
            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
              {% include 'partials/chapter-thumb.html.twig' with {
                'chapterPage': p,
                'showAnnounceDate': true,
                'buttonText': "LANDING.CHAPTER_THUMB.BUTTON_TEXT"|t
              }
              %}
            </div>
          {% endfor %}
        </div>

      </div>
    </main>
  {% endblock %}

  {% block footer %}
    {% include 'partials/emailcapture.html.twig' with {
    'emailCTA': page.header.emailCTA,
    'emailPlaceholder': page.header.emailPlaceholder,
    'emailButton': page.header.emailButton,
    'emailNotice': page.header.emailNotice,
    'emailMailchimpUser': page.header.emailMailchimpUser,
    'emailMailchimpId': page.header.emailMailchimpId}
    %}
    {% include 'partials/footer.html.twig' with {
    'sharingButtons': false,
    'exhibitionLink': true,
    'orgIcons':       true,
    'copyright':      true,
    'stylingClasses': 'c-grey'}
    %}
  {% endblock %}

{% endembed %}
